body {
  margin: 0;
  line-height: normal;
}
.eclipse-icon,
.eclipse-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 487.64px;
  height: 466.64px;
  opacity: 0.8;
}
.eclipse-icon1 {
  top: 284.81px;
  left: 1024.81px;
  width: 353.19px;
  height: 365.19px;
  opacity: 0.6;
}
.home-div,
.projects-b,
.projects-div {
  position: absolute;
  display: inline-block;
}
.projects-b {
  top: 0;
  left: calc(50% - 512px);
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.home-div,
.projects-div {
  top: 4px;
}
.home-div {
  left: calc(50% - 89px);
  cursor: pointer;
}
.projects-div {
  left: calc(50% - -12px);
}
.vector-icon {
  position: absolute;
  top: 32.5px;
  left: calc(50% - -11.5px);
  width: 68px;
  height: 1px;
}
.iconfont-awesome-freesolidm {
  position: absolute;
  height: 55.56%;
  width: 1.95%;
  top: 19.44%;
  right: 0;
  bottom: 25%;
  left: 98.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nav-div {
  position: absolute;
  top: 24px;
  left: calc(50% - 513px);
  width: 1024px;
  height: 36px;
  color: var(--color-gray-100);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background: linear-gradient(180deg, #2756d6, rgba(72, 24, 38, 0));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 255px;
  height: 137px;
}
.java-applets-div {
  position: absolute;
  top: 11px;
  left: 19px;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
}
.applet-is-a-special-type-of-pr {
  position: absolute;
  top: 74px;
  left: 20px;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 216px;
  height: 45px;
}
.frame-div {
  position: absolute;
  top: 153px;
  left: 176px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.25);
  width: 255px;
  height: 137px;
  font-size: 33px;
}
.coming-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.soon {
  margin: 0;
}
.coming-soon {
  position: absolute;
  top: 39px;
  left: 84px;
  font-weight: 500;
  display: inline-block;
}
.frame-div1 {
  position: absolute;
  top: 153px;
  left: 561px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.25);
  width: 255px;
  height: 137px;
  text-align: center;
  font-size: 20px;
}
.desktop-3 {
  position: relative;
  background: linear-gradient(104.3deg, #121212, #1e3a8a);
  width: 100%;
  height: 650px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
